name: build-book

on:
  workflow_call:
    inputs:
      environment_name:
        description: 'Name of conda environment to activate (NO LONGER USED)'
        required: false
        default: 'cookbook-dev'
        type: string
      environment_file:
        description: 'Name of conda environment file'
        required: false
        default: 'environment.yml'
        type: string
      path_to_notebooks:
        description: 'Location of the JupyterBook source relative to repo root'
        required: false
        default: '.'
        type: string
      artifact_name:
        description: 'The name to assign to the built book artifact.'
        required: false
        default: 'book-zip'
        type: string
      build_command:
        description: 'The linux command to build the book or site.'
        required: false
        default: 'myst build --execute --html'
        type: string
      execute_on_binderhub:
        description: "Execute notebooks on a BinderHub"
        required: false
        default: false
        type: boolean
      cache_execution:
        description: "Cache executed notebooks"
        required: false
        default: true
        type: boolean
      output_path:
        description: 'Path to the built html content relative to `path_to_notebooks`'
        required: false
        default: '_build/html'
        type: string
      build_from_code_artifact:
        description: 'Should we try to build from a previously uploaded code artifact?'
        required: false
        default: 'false'
        type: string
      code_artifact_name:
        description: 'Name of zipped artifact passed in, instead of checking out the repository.'
        required: false
        default: 'code-zip'
        type: string
      workflow:
        description: 'Identify the workflow that produced the artifact'
        required: false
        default: trigger-book-build.yaml
        type: string
      workflow_conclusion:
        description: 'Workflow conclusion (options: "failure", "success", "neutral", "cancelled", "skipped", "timed_out", "action_required") or status (options: "completed", "in_progress", "queued") to search for. Use the empty string ("") to ignore status or conclusion in the search.'
        required: false
        default: success
        type: string
      base_url:
        description: 'Determines where the website is served from, including CSS & JS assets (needed for MyST)'
        required: false
        default: '/${{ github.event.repository.name }}'
        type: string

    secrets:
      PRIVATE_KEY:
        description: 'Google analytics key needed for metrics page on portal site'
        required: false
      PRIVATE_KEY_ID:
        description: 'Google analytics key id needed for metrics page on portal site'
        required: false
      ARM_USERNAME:
        description: 'Username for the ARM Data Discovery portal (https://adc.arm.gov/armlive/)'
        required: false
      ARM_PASSWORD:
        description: 'Password for the ARM Data Discovery portal (https://adc.arm.gov/armlive/)'
        required: false
      AQS_USERNAME:
        description: 'Username for the AQS Data Portal'
        required: false
      AQS_KEY:
        description: 'Key for the AQS Data Portal'
        required: false
      EARTHDATA_USERNAME:
        description: 'NASA Earthdata API Username'
        required: false
      EARTHDATA_PASSWORD:
        description: 'NASA Earthdata API Password'
        required: false

env:
  # the BASE_URL environment variable needs to be set if building with myst
  BASE_URL: ${{ inputs.base_url }}

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -leo pipefail {0}
    steps:
      - name: Checkout the code from the repo
        if: inputs.build_from_code_artifact == 'false'
        uses: actions/checkout@v6

      #  The next two steps should replicated checking out the code
      - name: Download code artifact
        id: get_code_artifact
        if: inputs.build_from_code_artifact == 'true'
        uses: dawidd6/action-download-artifact@v14
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          workflow: ${{ inputs.workflow }}
          run_id: ${{ github.event.workflow_run.id }}
          name: ${{ inputs.code_artifact_name }}
          workflow_conclusion: ${{ inputs.workflow_conclusion }}

      - name: Unzip the code
        if: inputs.build_from_code_artifact == 'true'
        run: |
          unzip pr_code.zip
          rm -f pr_code.zip

      - name: Test for environment change
        id: env_change
        uses: tj-actions/changed-files@v47
        with:
          files: ${{ inputs.environment_file }}

      - name: Echo environment change test result
        run: |
          echo '(DEBUG) The value of steps.env_change.outputs.any_changed is:'
          echo ${{ steps.env_change.outputs.any_changed }}

      - name: Setup environment with micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: ${{ inputs.environment_file }}

      - name: Setup execution environment on a BinderHub
        if: inputs.execute_on_binderhub
        # This action sets up evironment variables for e.g. mystmd to recognise and use
        uses: 2i2c-org/clinder@action-v1
        with:
          hub-url: https://binder.projectpythia.org/
          # Environment reference
          ref: ${{ steps.env_change.outputs.any_changed == 'true' && env.CI_ACTION_REF_NAME || 'main' }}

      - name: Cache execution
        id: inputs.cache_execution
        uses: actions/cache@v4
        with:
          path: ${{ inputs.path_to_notebooks }}/_build/execute
          key: ${{ runner.os }}-${{ inputs.path_to_notebooks }}-${{ inputs.build_command }}-execution
      - name: Build the book
        env:
          # TODO: provision remote environment with secrets, e.g. https://github.com/agoose77/jupyter-environment-provisioner
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          PRIVATE_KEY_ID: ${{ secrets.PRIVATE_KEY_ID }}
          ARM_USERNAME: ${{ secrets.ARM_USERNAME }}
          ARM_PASSWORD: ${{ secrets.ARM_PASSWORD }}
          AQS_USERNAME: ${{ secrets.AQS_USERNAME }}
          AQS_KEY: ${{ secrets.AQS_KEY }}
          EARTHDATA_USERNAME: ${{ secrets.EARTHDATA_USERNAME }}
          EARTHDATA_PASSWORD: ${{ secrets.EARTHDATA_PASSWORD }}
          SECRETS_VARS: ${{ toJson(secrets) }}
        run: |
          cd ${{ inputs.path_to_notebooks }}
          ${{ inputs.build_command }}

      - name: Zip the book
        run: |
          set -x
          set -e
          if [ -f book.zip ]; then
              rm -rf book.zip
          fi
          zip -r book.zip ${{ inputs.path_to_notebooks }}/${{ inputs.output_path }}

      - name: Upload zipped book artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ inputs.artifact_name }}
          path: ./book.zip
