name: deploy-book

on:
  workflow_call:
    inputs:
      artifact_name:
        description: 'Name of the artifact (zipped book) created by previous build step'
        required: false
        default: book-zip
        type: string
      destination_dir:
        description: 'Path to publish to on GitHub Pages, relative to site root. We use this to deploy previews in a subdirectory.'
        required: false
        default: ''
        type: string
      is_preview:
        description: 'Are we deploying a preview?'
        required: false
        default: 'false'
        type: string
      publish_dir:
        description: 'Publish dir for the action'
        required: false
        default: '_build/html'
        type: string
      
jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps: 
      - uses: actions/checkout@v6
      
      - name: Download merged artifact
        if: inputs.is_preview != 'true'
        uses: actions/download-artifact@v7
        with:
          name: ${{ inputs.artifact_name }}

      # For the preview, the official download-artifact action doesn't work
      # because the artifact is created by a different workflow
      - name: Download preview artifact
        if: inputs.is_preview == 'true'
        uses: dawidd6/action-download-artifact@v12
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          workflow: build-book.yaml
          run_id: ${{ github.event.workflow_run.id }}
          name: ${{ inputs.artifact_name }}

      - name: Unzip the book
        run: |
          rm -rf _build/html
          unzip book.zip
          rm -f book.zip

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        if: |
          (github.ref == 'refs/heads/main')
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          folder: ${{ inputs.publish_dir }}
          clean: true
          clean-exclude: _preview/*  # keep existing previews from other PRs
          target-folder: ${{ inputs.destination_dir }}